checkpoint/Bird_A/final_model.pkl
checkpoint/Bird_A/loss.csv
checkpoint/Bird_A/train_val_loss.jpg
checkpoint/Bird_B/final_model.pkl
checkpoint/Bird_B/loss.csv
checkpoint/Bird_B/train_val_loss.jpg
checkpoint/Bird_B/inference/DJI_0328.JPG
checkpoint/Bird_B/inference/DJI_0344.JPG
checkpoint/Bird_B/inference/DJI_0349.JPG
checkpoint/Bird_B/inference/detection-results/DJI_0328.txt
checkpoint/Bird_B/inference/detection-results/DJI_0344.txt
checkpoint/Bird_B/inference/detection-results/DJI_0349.txt
checkpoint/Bird_C/final_model.pkl
checkpoint/Bird_C/loss.csv
checkpoint/Bird_C/train_val_loss.jpg
checkpoint/Bird_D/final_model.pkl
checkpoint/Bird_D/loss.csv
checkpoint/Bird_D/train_val_loss.jpg
checkpoint/Bird_E/final_model.pkl
checkpoint/Bird_E/loss.csv
checkpoint/Bird_E/train_val_loss.jpg
Result/Bird_A/configs.json
Result/Bird_A/detection_summary.csv
Result/Bird_A/f1_score.jpg
Result/Bird_A/mAp.jpg
Result/Bird_A/detection-results/2_90_1.txt
Result/Bird_A/detection-results/90_1.txt
Result/Bird_A/detection-results/90_2.txt
Result/Bird_A/detection-results/90_3.txt
Result/Bird_A/detection-results/90_4.txt
Result/Bird_A/detection-results/90_5.txt
Result/Bird_A/detection-results/90_6.txt
Result/Bird_A/visualize-results/2_90_1.JPG
Result/Bird_A/visualize-results/90_1.JPG
Result/Bird_A/visualize-results/90_2.JPG
Result/Bird_A/visualize-results/90_3.JPG
Result/Bird_A/visualize-results/90_4.JPG
Result/Bird_A/visualize-results/90_5.JPG
Result/Bird_A/visualize-results/90_6.JPG
Result/Bird_B/configs.json
Result/Bird_B/detection_summary.csv
Result/Bird_B/f1_score.jpg
Result/Bird_B/mAp.jpg
Result/Bird_B/detection-results/DJI_0129.txt
Result/Bird_B/detection-results/DJI_0130.txt
Result/Bird_B/detection-results/DJI_0131.txt
Result/Bird_B/visualize-results/DJI_0129.JPG
Result/Bird_B/visualize-results/DJI_0130.JPG
Result/Bird_B/visualize-results/DJI_0131.JPG
Result/Bird_C/configs.json
Result/Bird_C/detection_summary.csv
Result/Bird_C/f1_score.jpg
Result/Bird_C/mAp.jpg
Result/Bird_C/detection-results/DJI_0020_90m.txt
Result/Bird_C/detection-results/DJI_0036_90m.txt
Result/Bird_C/visualize-results/DJI_0020_90m.JPG
Result/Bird_C/visualize-results/DJI_0036_90m.JPG
Result/Bird_D/configs.json
Result/Bird_D/detection_summary.csv
Result/Bird_D/f1_score.jpg
Result/Bird_D/mAp.jpg
Result/Bird_D/detection-results/G56_7Nov2014_4978.txt
Result/Bird_D/detection-results/G135_22Dec2016_0412.txt
Result/Bird_D/detection-results/G248_15Nov2016_0115.txt
Result/Bird_D/detection-results/G272_4Dec2014_6299.txt
Result/Bird_D/detection-results/G281_6Jan2017_0104.txt
Result/Bird_D/detection-results/G333_4Dec2014_6047.txt
Result/Bird_D/visualize-results/G56_7Nov2014_4978.JPG
Result/Bird_D/visualize-results/G135_22Dec2016_0412.JPG
Result/Bird_D/visualize-results/G248_15Nov2016_0115.JPG
Result/Bird_D/visualize-results/G272_4Dec2014_6299.JPG
Result/Bird_D/visualize-results/G281_6Jan2017_0104.JPG
Result/Bird_D/visualize-results/G333_4Dec2014_6047.JPG
checkpoint.zip
Result/Bird_A/.~lock.detection_summary.csv#
